{% extends 'base.html' %}

{% set title = 'Aposta' %}

{% block content %}
<form method="POST" action="{{ url_for('aposta') }}">
<BR>

<div class="form-group" >
	<input type="text" class="form-control" onblur="validaNome()" style="width: 52rem;" name="inputNome" id="inputNome" placeholder="Nome" required>
	<div id="erro"/>
	
</div>
<div class="form-group">
	<input type="email" class="form-control" style="width: 52rem;" id="inputEmail" aria-describedby="emailHelp" placeholder="Email" required>
</div>	
{% for grupo in grupos -%}
<div class="card" style="width: 52rem;">
  <div class="card-body">
    <h5 class="card-title">{{ grupo.nome }}</h5>
	{% for rodada in grupo.rodadas -%}
		<h6 class="card-subtitle mb-2 text-muted">{{ rodada.nome }}</h6>
		<p class="card-text">
		{% for jogo in rodada.jogos -%}
		<div class="container">
			<div class="row  no-gutters">
				<div class="col-3" style="text-align: right;">
					{{ jogo.nome_mandante }}
					<img itemprop="image" src="{{ jogo.escudo_mandante}}" width="30" height="30">
					<input id="{{ jogo.id_input_mandante }}" type="text" class="form-control" name="entry.{{ jogo.id_input_mandante }}" style="width:42px;height:30px;display:inline" required>
				</div>
				<div class="col-1" style="text-align: center;">x</div>
				<div class="col-3" style="text-align: left;">
					<input id="{{ jogo.id_input_visitante }}" type="text" class="form-control" name="entry.{{ jogo.id_input_visitante }}" style="width:42px;height:30px;display:inline" required>
					<img itemprop="image" src="{{ jogo.escudo_visitante}}" width="30" height="30">
					{{ jogo.nome_visitante }}
				</div>
				<div class="col-2" style="text-align: center;">{{ jogo.data }}</div>
				<div class="col-3" style="text-align: center;">{{ jogo.local }}</div>		
			</div>
		</div>
		{% endfor %}</p>
	{% endfor %}
  </div>	
</div>
  {% endfor %}
<p><BR><button type="submit" class="btn btn-primary">ENVIAR</button></p>
 </form>
{% endblock %}
{% block script %}
<script>
	function validaNome() {
	  var xhttp = new XMLHttpRequest();
	  xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
		  document.getElementById("erro").innerHTML = this.responseText;
		  if (this.responseText > ''){
			document.getElementById("inputNome").select();
		  }
		}
	  };
	  xhttp.open("POST", "/valida_usuario", true);
	  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhttp.send("novo_usuario=" + document.getElementById("inputNome").value);
	}
</script>
{% endblock %}