<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BolaoDaCopa2018</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><h1 id="bem-vindo-ao-bolao-da-copa-da-russia-2018">Bem Vindo ao Bolao da Copa da Russia 2018!</h1>
<h2 id="regulamento">Regulamento</h2>
<ol>
<li>Cada participante deverá definir seus palpites, apostar nos 48 jogos da Primeira Fase da Copa 2018</li>
<li>Cada apostador somará pontos da seguinte forma:<br>
•  Acertar placar exato do jogo: 18 pontos<br>
•  Acertar o time vencedor ou empate: 9 pontos<br>
•  Acertar o número de gols de uma das equipes: 3 pontos</li>
</ol>
<p><strong>Exemplos</strong>:</p>
<h4 id="placar-apostado--brasil-3-x-1-argentina">Placar Apostado : Brasil 3 x 1 Argentina</h4>

<table>
<thead>
<tr>
<th>Placar Real</th>
<th>Pontuacao</th>
<th>Obs</th>
</tr>
</thead>
<tbody>
<tr>
<td>Brasil 3 x 1 Argentina</td>
<td>18 pontos</td>
<td></td>
</tr>
<tr>
<td>Brasil 3 x 0 Argentina</td>
<td>12 pontos</td>
<td>9 pelo time vencedor + 3 pelo acerto dos gols de um dos times</td>
</tr>
<tr>
<td>Brasil 2 x 0 Argentina</td>
<td>9 pontos</td>
<td></td>
</tr>
<tr>
<td>Brasil 0 x 1 Argentina</td>
<td>3 pontos</td>
<td></td>
</tr>
<tr>
<td>Brasil 3 x 4 Argentina</td>
<td>3 pontos</td>
<td></td>
</tr>
<tr>
<td>Brasil 0 x 0 Argentina</td>
<td>0 pontos</td>
<td></td>
</tr>
</tbody>
</table><h2 id="faq">FAQ</h2>
<h4 id="qualquer-um-pode-criar-um-bolao">Qualquer um pode criar um bolao?</h4>
<p>Sim</p>
<h4 id="quanto-custa-criar-um-bolao">Quanto custa criar um bolao?</h4>
<p>Nada, e gratuito.</p>
<h4 id="qual-o-valor-da-aposta">Qual o valor da aposta?</h4>
<p>Quem cria o bolao decide. Cada bolao pode ter um preco diferente. Recomendamos algo em torno de 10 reais</p>
<h4 id="como-eu-faco-o-pagamento-da-aposta">Como eu faco o pagamento da aposta?</h4>
<p>Quem cria o bolao decide. Pode ser por dinheiro, transferencia, cartao, etc etc etc. Nos nao intermediamos nenhum valor.</p>
<h4 id="posso-criar-um-bolao-para-a-minha-empresa--posso-criar-um-bolao-para-a-minha-familia">Posso criar um bolao para a minha empresa?  Posso criar um bolao para a minha familia?</h4>
<p>Sim  e sim</p>
<h4 id="posso-apostar-em-mais-de-um-bolao-posso-apostar-duas-vezes-no-mesmo-bolao-o-administrador-do-bolao-pode-apostar-tambem">Posso apostar em mais de um bolao? Posso apostar duas vezes no mesmo bolao? O administrador do bolao pode apostar tambem?</h4>
<p>Sim, sim e sim</p>
<h4 id="qual-a-premiacao-do-bolao">Qual a premiacao do bolao?</h4>
<p>Quem cria o bolao decide. Recomendamos 60% para o primeiro colocado, 30% para o segundo e 10% para o terceiro</p>
<h4 id="como-eu-faco-o-cadastro">Como eu faco o cadastro?</h4>
<p>Nao existe cadastro. Ao fazer a aposta e efetuar o pagamento ao criador do bolao, ele marca seu nome como “pago”.<br>
Uma vez com o pagamento registrado, voce esta participando do bolao</p>
<h4 id="e-gratuito-mesmo-tem-pegadinha">E gratuito mesmo? Tem pegadinha?</h4>
<p>Sim, nao.</p>
<h4 id="existe-suporte">Existe suporte?</h4>
<p>Nao</p>
<h4 id="qual-o-email-de-contato">Qual o email de contato?</h4>
<p>Rodrigo e Guilherme<br>
<a href="mailto:bolaodagalera2018@gmail.com">bolaodagalera2018@gmail.com</a></p>
</div>
</body>

</html>
