{% extends 'base.html' %}

{% block menu %}	  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="nav nav-tabs">
	  <li class="nav-item">
		<a class="nav-item nav-link{% if title == 'Intro' %} active{% endif %}" href="/intro">Intro</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-item nav-link{% if title == 'Bolões' %} active{% endif %}" href="/lista_bolao">Bolões</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-item nav-link{% if title == 'Novo Bolão' %} active{% endif %}" href="/novo_bolao">Novo Bolão</a>
	  </li>
	</ul>
</nav>
{% endblock %}