{% extends 'menu_base.html' %}

{% set title = 'Ranking' %}

{% block content %}
<table class="table table-striped table-sm text-center" align="center" style="width:850px">
	<thead class="thead-dark">
    <tr>
      <th colspan="4" scope="col" class="text-center text-uppercase">{{ nome_usuario }}</th>
    </tr>
  </thead>
  <tbody>
	{% for jogo in jogos -%}
	<tr>
	  <td scope="row" class="font-weight-bold align-middle lead text-primary">{{ pontuacoes[jogo.nome] }} pontos</td>
	  <td class="font-weight-bold align-middle text-right lead">{{ jogo.nome_mandante }}<img itemprop="image" src="{{ jogo.escudo_mandante}}" width="30" height="30"></td>
	  <td class="text-center font-weight-bold">
			  <span><small class="font-weight-bold ">PALPITE</small></span><BR>
			  <span class="font-weight-bold lead">{{ palpites[jogo.nome] }}</span><BR>
			  <span ><small class="font-weight-bold">PLACAR FINAL </small></span><BR>
			  <span class="font-weight-bold lead">{{ placares[jogo.nome] }}</span>
	  </td>
	  <td class="font-weight-bold align-middle text-left lead"><img itemprop="image" src="{{ jogo.escudo_visitante}}" width="30" height="30">{{ jogo.nome_visitante }}</td>
	</tr>
	{% endfor %}
   </tbody>
</table>

{% endblock %}
    