{% extends 'menu_base.html' %}

{% block content %}
<ul class="list-group" style="width: 25rem;">
<li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
    <strong>Nome</strong>
    <span class="badge badge-primary badge-pill"><strong>Pontuação</strong></span>
{% for usuario in lista_usuarios -%}
	<li class="list-group-item d-flex justify-content-between align-items-center{% if not usuario.pago %} list-group-item-danger{% endif %}">
    <a>{{ usuario.nome }}</a>
	{% if not usuario.pago %}<small class="text-muted">Não Pago</small>{% endif %}
    <span class="badge badge-primary badge-pill">{{ usuario.pontuacao }}</span>
  </li>
{% endfor %}
</ul>
{% endblock %}

{% set title = 'Ranking' %}