{% extends 'menu_base.html' %}

{% block content %}


<div class="card mt-5 w-75">
  <div class="card-body">
    <h5 class="card-title">Cuidado ao remover o bolao. Nao existe volta!</h5>
    <a href="/{{ bolao }}/remover_bolao" class="btn btn-danger">Remover Bolao</a>
  </div>
</div>

 <div class="card mt-5 w-75">
    <table class="table table-striped table-sm text-center table-hover table-bordered "align="center">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
    {% for usuario in lista_usuarios -%}
        <tr>
          <td scope="row">{{loop.index}}</td>
          <td>{{ usuario.nome }}</td>

          {% if not usuario.pago %}
          <td><button type="button" class="btn btn-primary btn-sm" name ="{{ usuario.nome }}" onclick="togglePago(this)">Marcar como pago</button></td>
          {% else %}
          <td><button type="button" class="btn btn-success btn-sm" name ="{{ usuario.nome }}" onclick="togglePago(this)">Pago</button></td>
          {% endif %}

          <td><button type="button" class="btn btn-danger btn-sm" name ="{{ usuario.nome }}" onclick="removerAposta(this)">Remover Aposta</button></td>

        </tr>
    {% endfor %}
       </tbody>
    </table>
 </div>

{% endblock %}

{% block script %}
<script>
	function removerAposta(sender) {
	  var xhttp = new XMLHttpRequest();
	  xhttp.open("POST", "/{{ bolao }}/remover_aposta", true);
	  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.open();
                document.write(this.responseText);
                document.close();
            }
        };
	  xhttp.send("usuario=" + sender.name);
	}

    function togglePago(sender) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/{{ bolao }}/toggle_pago", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.open();
                document.write(this.responseText);
                document.close();
            }
        };
        xhttp.send("usuario=" + sender.name);
    }
</script>
{% endblock %}

{% set title = 'Admin' %}