{% from "_formhelpers.html" import render_flash %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{title}} :: Bolão da Copa 2018</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

	<style>
		body {
		   background-image: url("{{url_for('static', filename='back_image.png')}}");
		}
	</style>

	{% block css %}{% endblock %}
	{% block js %}{% endblock %}	

  </head>
  <body>  
	{% block menu %}
	{% endblock %}
	<BR>
	
	<div class="container">		
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul class=flashes>
							{% for message in messages %}
							<li>{{ message }}</li>
							{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

		{% block content %}
		{% endblock %}
	</div>
	
	{% block script %}{% endblock %}
	
	<script>
	function r(f){/in/.test(document.readyState)?setTimeout(r,9,f):f()}
	r(function(){
		var messages = "{{ get_flashed_messages() }}";

		if (typeof messages != 'undefined' && messages != '[]') {
			$("#myModal").modal();
		};
	});
	function montaAlerta(texto){
		if (texto == ""){
			return "";
		}
		return "<div class=\"alert alert-danger alert-dismissible fade show\" style=\"width: 52rem;\">".concat(texto ,"</div>");	              
	}
	</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="http://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>	
	{% block script_after %}{% endblock %}
  </body>
</html>