{% extends 'menu_base.html' %}

{% block content %}


<form>
	<div class="form-group row">
		<label for="inputNome" class="col-sm-2 col-form-label">Nome</label>
		<input type="text" readonly class="form-control col-sm-4" style="width: 52rem;" value="{{bolao_selecionado.nome}}" id="inputNome">
	</div>

	<div class="form-group row">
		<label for="inputResponsavel" class="col-sm-2 col-form-label">Responsável</label>
		<input type="text" readonly class="form-control col-sm-4" style="width: 52rem;" value="{{bolao_selecionado.responsavel}}" id="inputResponsavel">
	</div>

	<div class="form-group row">
		<label for="inputEmail" class="col-sm-2 col-form-label">Email do Responsável</label>
		<input type="text" readonly class="form-control col-sm-4" style="width: 52rem;" value="{{bolao_selecionado.email}}" id="inputEmail">
	</div>

	<div class="form-group row">
		<label for="inputValor" class="col-sm-2 col-form-label">Valor do Bolão</label>
		<div class="input-group mb-3" style="width: 52rem;">
			<div class="input-group-prepend">
				<span class="input-group-text">R$</span>
		  	</div>

			<input type="text" readonly class="form-control col-sm-4" style="width: 52rem;" value="{{bolao_selecionado.valor}}" id="inputValor">
		</div>
	</div>

	<div class="form-group row">
		<label for="inputPremiacao" class="col-sm-2 col-form-label">Premiação</label>
		<textarea class="form-control" readonly class="form-control col-sm-4" style="overflow:hidden; width: 52rem;" id="inputPremiacao" rows="3">{{bolao_selecionado.premiacao}}</textarea>
	</div>

	<div class="form-group row">
		<label for="inputDescricao" class="col-sm-2 col-form-label">Descrição</label>
		<textarea class="form-control" readonly class="form-control col-sm-4" style="overflow:hidden; width: 52rem;" id="inputDescricao" rows="3">{{bolao_selecionado.descricao}}</textarea>
	</div>
</form>

{% endblock %}

{% set title = 'Descrição Bolão' %}