{% extends 'menu_base.html' %}
{% set title = 'Descrição Bolão' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card">
      <div class="card-header"><i class="fa fa-info-circle me-2"></i>Descrição do Bolão</div>
      <div class="card-body">
        <dl class="row mb-0">

          <dt class="col-sm-4">Nome</dt>
          <dd class="col-sm-8">{{ bolao_selecionado.nome }}</dd>

          <dt class="col-sm-4">Responsável</dt>
          <dd class="col-sm-8">{{ responsavel.nome }}</dd>

          <dt class="col-sm-4">Email</dt>
          <dd class="col-sm-8">
            <a href="mailto:{{ responsavel.email }}">{{ responsavel.email }}</a>
          </dd>

          <dt class="col-sm-4">Valor</dt>
          <dd class="col-sm-8">R$ {{ bolao_selecionado.valor }},00</dd>

          <dt class="col-sm-4">Premiação</dt>
          <dd class="col-sm-8" style="white-space:pre-line">{{ bolao_selecionado.premiacao }}</dd>

          {% if bolao_selecionado.descricao %}
          <dt class="col-sm-4">Descrição</dt>
          <dd class="col-sm-8" style="white-space:pre-line">{{ bolao_selecionado.descricao }}</dd>
          {% endif %}

        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
