{% extends 'base.html' %}

{% block menu %}	  
  <a class="navbar-brand" href="/lista_bolao">{{ bolao }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav nav-tabs">	  
	  <li class="nav-item">
		<a class="nav-item nav-link{% if title == 'Ranking' %} active{% endif %}" href="{{ url_for('ranking', bolao=bolao) }}">Ranking</a>
	  </li>
	  {% if current_user.is_authenticated %}
	  <li class="nav-item">
		<a class="nav-item nav-link{% if title == 'Aposta' %} active{% endif %}" href="{{ url_for('nova_aposta', bolao=bolao) }}">Nova Aposta</a>
	  </li>
	  {% endif %}
	  <li class="nav-item">
		<a class="nav-item nav-link{% if title == 'Descrição Bolão' %} active{% endif %}" href="{{ url_for('descricao', bolao=bolao) }}">Descrição</a>
	  </li>
	  {% if current_user.is_authenticated and current_user.eh_criador_do_bolao(bolao) %}
	  <li class="nav-item">
		<a class="nav-item nav-link{% if title == 'Admin' %} active{% endif %}" href="{{ url_for('admin', bolao=bolao) }}">Admin</a>
	  </li>	
	  {% endif %}
  </ul>

{% endblock %}