{% extends 'menu_base.html' %}

{% block content %}

<table class="table table-striped table-light table-sm text-center table-hover "align="center">
	<thead class="thead-light">
    <tr>
      <th scope="col">#</th>
	  <th scope="col">Nome</th>
	  <th scope="col">Pontuação</th>
	  <th scope="col">Placares Exatos</th>
	  <th scope="col">Vencedor ou empate</th>
	  <th scope="col">Gols de um time</th>
	  <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% for aposta in lista_apostas -%}
	<tr>
	  <td scope="row">{{loop.index}}</td>
	  <td><img class="img-rounded" height="25" width="25" src="{{ aposta.foto }}"><a href="/{{ bolao }}/palpite/{{ aposta.nome }}"> {{ aposta.nome }}</a></td>
	  <td>{{ aposta.pontuacao }}</td>
	  <td>{{ aposta.placar_exato }}</td>
	  <td>{{ aposta.vencedor_ou_empate }}</td>
	  <td>{{ aposta.gols_de_um_time }}</td>
	  <td class="{% if not aposta.pago %} table-danger{% endif %}">{% if not aposta.pago %}<small class="text-muted">Não Pago</small>{% endif %}</td>
	</tr>
{% endfor %}
   </tbody>
</table>
{% endblock %}

{% set title = 'Ranking' %}